<div class="titulo">
    About Me <span class="ec ec-boy"></span>
</div>
<hr>

I live in the state of Minas Gerais, Brazil. Graduated in Information
Systems, I'm passionated on programming and technology.
I made this website to share a little bit of my stuff.
It have my social media and a blog. Feel free to contact me. Hope you enjoy!

<div class="contatos">
    <a href="https://api.whatsapp.com/send?phone=5565998009215" target="_blank">
        <fa-icon [icon]="iconeWhatsapp"></fa-icon>
    </a> •
    <a href="mailto:mateushvenancio@gmail.com" target="_blank">
        <fa-icon [icon]="iconeEmail"></fa-icon>
    </a> •
    <a href="https://gitconnected.com/mateushvenancio/resume" target="_blank">Resume</a>
</div>

<br />