<div class="titulo">Projects <span class="ec ec-computer"></span></div>
<hr />
<div *ngFor="let proj of projects">
  <div class="projeto-corpo">
    <a href="{{ proj.link }}">
      <div class="projeto-titulo main-color">{{ proj.title }}</div>
    </a>
    <div class="tag-container">
      <div class="tag" *ngFor="let tag of proj.tags">{{ tag }}</div>
    </div>
    <p>{{ proj.descricao }}</p>
  </div>
</div>
<!-- <div class="projeto">
    <div class="icones">
        <a href="#">
            <fa-icon [icon]="iconeGithub"></fa-icon>
        </a>
    </div>
    <div class="projeto-corpo">
        <a href="#">
            <div class="projeto-titulo main-color">Lorem Ipsum Dolor Sit Amet</div>
        </a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita quidem quia ea molestiae, sint
            ducimus
            velit reprehenderit modi itaque dolorum, dolores explicabo beatae, aspernatur provident quisquam assumenda
            numquam
            nisi?
        </p>
    </div>
</div>
<div class="projeto">
    <div class="icones">
        <a href="#">
            <fa-icon [icon]="iconeGithub"></fa-icon>
        </a>
    </div>
    <div class="projeto-corpo">
        <a href="#">
            <div class="projeto-titulo main-color">Lorem Ipsum Dolor Sit Amet</div>
        </a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita quidem quia ea molestiae, sint
            ducimus
            velit reprehenderit modi itaque dolorum, dolores explicabo beatae, aspernatur provident quisquam assumenda
            numquam
            nisi?
        </p>
    </div>
</div> -->
