<div class="titulo">
    Projects & Stacks <span class="ec ec-boy"></span>
</div>
<hr>
<div class="projeto">
    <div class="icones">
        <a href="#">
            <fa-icon [icon]="iconeGithub"></fa-icon>
        </a>
    </div>
    <div class="projeto-corpo">
        <a href="#">
            <div class="projeto-titulo main-color">Lorem Ipsum Dolor Sit Amet</div>
        </a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita quidem quia ea molestiae, sint
            ducimus
            velit reprehenderit modi itaque dolorum, dolores explicabo beatae, aspernatur provident quisquam assumenda
            numquam
            nisi?
        </p>
    </div>
</div>
<div class="projeto">
    <div class="icones">
        <a href="#">
            <fa-icon [icon]="iconeGithub"></fa-icon>
        </a>
    </div>
    <div class="projeto-corpo">
        <a href="#">
            <div class="projeto-titulo main-color">Lorem Ipsum Dolor Sit Amet</div>
        </a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita quidem quia ea molestiae, sint
            ducimus
            velit reprehenderit modi itaque dolorum, dolores explicabo beatae, aspernatur provident quisquam assumenda
            numquam
            nisi?
        </p>
    </div>
</div>
<div class="projeto">
    <div class="icones">
        <a href="#">
            <fa-icon [icon]="iconeGithub"></fa-icon>
        </a>
    </div>
    <div class="projeto-corpo">
        <a href="#">
            <div class="projeto-titulo main-color">Lorem Ipsum Dolor Sit Amet</div>
        </a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita quidem quia ea molestiae, sint
            ducimus
            velit reprehenderit modi itaque dolorum, dolores explicabo beatae, aspernatur provident quisquam assumenda
            numquam
            nisi?
        </p>
    </div>
</div>