.titulo {
  font-weight: bold;
  font-size: 20px;
}

.projeto {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.icones {
  color: black;
  padding-right: 15px;
  font-size: 30px;
  text-align: center;
}

.icones a {
  color: black;
}

.projeto-titulo {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 18px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.tag-container .tag {
  margin: 5px 5px 0 0;
}

.tag {
  font-size: 10px;
  padding: 1px 8px;
  border-radius: 45px;
  border-color: #00de7a;
  border-style: solid;
  border-width: 1px;
}