.my-container {
  width: min(95vw, 512px);
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.dark-theme {
  background-color: #414141;
  color: #f7f9fa;
}

.light-theme {
  background-color: #f7f9fa;
  color: #414141;
}
