.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  border: 2px solid #00de7a;
}

.nome {
  font-size: min(40px, 10vw);
  font-weight: bold;
}

.redes {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.redes fa-icon {
  padding: 0 5px;
  color: #00de7a;
}

.frase {
  margin-bottom: 80px;
  text-align: center;
  font-style: italic;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}

.my-container {
  width: min(95vw, 512px);
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
