.header {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  border: 2px solid #00de7a;
}

.nome {
  font-size: min(40px, 10vw);
  font-weight: bold;
}

.redes {
  text-align: center;
}

.redes fa-icon {
  padding-right: 20px;
  font-size: 25px;
  color: #00de7a;
}

.frase {
  /* padding: 0 100px; */
  text-align: center;
  font-style: italic;
}

@media (max-width: 768px) {
  .frase {
    background-color: #00de7a;
  }
  .header {
    flex-direction: column;
  }
}
