<div class="center">
    <div class="header">
        <img src="{{ profileInfo.profilePicture }}" class="rounded-circle foto-perfil" alt="Eu">
        <div class="nome-e-redes">
            <div class="nome">Mateus Venâncio</div>
            <div class="redes">
                <a href="https://github.com/mateushvenancio" target="_blank">
                    <fa-icon [icon]="iconeGithub"></fa-icon>
                </a> •
                <a href="https://www.linkedin.com/in/mateushvenancio/" target="_blank">
                    <fa-icon [icon]="iconeLinkedin"></fa-icon>
                </a> •
                <a href="https://www.instagram.com/mateushvenancio/" target="_blank">
                    <fa-icon [icon]="iconeInstagram"></fa-icon>
                </a> •
                <a href="https://medium.com/@mateushvenancio" target="_blank">
                    <fa-icon [icon]="iconeMedium"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="my-container">
    <div class="frase">
        {{ profileInfo.quote }}
    </div>
    <!-- <div class="frase">
        O universo é grande. É vasto, complicado e ridículo. E, às vezes, muito raramente, coisas impossíveis acontecem
        e nós as chamamos de milagres.
    </div> -->
</div>