<hr>
<div class="footer">
    <span>2021 • Mateus Venâncio</span>
    <div class="icones main-color">
        <a href="https://github.com/mateushvenancio" target="_blank">
            <fa-icon [icon]="githubIcon"></fa-icon>
        </a> •
        <a href="https://www.linkedin.com/in/mateushvenancio/" target="_blank">
            <fa-icon [icon]="linkedinIcon"></fa-icon>
        </a> •
        <a href="https://www.instagram.com/mateushvenancio/" target="_blank">
            <fa-icon [icon]="instagramIcon"></fa-icon>
        </a> •
        <a href="https://medium.com/@mateushvenancio" target="_blank">
            <fa-icon [icon]="mediumIcon"></fa-icon>
        </a>
    </div>
</div>